
nav.navbar{
	margin-bottom:0;
}
/* background image  */
.image{
	background:url( "../images/moutain-valley.jpeg") no-repeat center;
	min-height: 60rem;
	background-size:cover;
	background-attachment: fixed;
	padding-top: 70px;

}
/*to add and style the footer*/
footer{
	background-color: green;
	color:white;
	height: 50px;
	text-align:center;
}

/*to change the color of my nav links and brand to white*/
.nav-link{
	color:white;
}
.navbar-brand{
	color:white;
}
span:hover .name{
	color:white;
}
.me{
	margin-top:15px;
}
li:hover a{
	color:green;
}
span:hover a{
	color:green;
}
/*form styles*/
.contact{
	background-color: green;
	margin-bottom: 20px;
}
form{
	padding-top: 10px;
	margin-bottom: 10px;
}
/* -------media queries-------- */
@media (min-width: 1065px) {




	@media (max-width: 965px){
		.me {
			margin-left: 50px;
		}
	}
}