/*to keep page content from going behind the navbar and give the body a lightgray color*/
body{
	/*!*padding-top: 70px;*!*/
	/*background-color: #88B1DD;*/
}
/*to resize banner image at the top*/
/*.resize{*/
	/*width:100%;*/
/*}*/
/* background image  */
.image{
	background:url( "../images/moutain-valley.jpeg") no-repeat center;
	min-height: 60rem;
	background-size:cover;
	background-attachment: fixed;
	padding-top: 70px;

}
/*to resize portfolio images*/
.port{
	width:85%;
	padding-left:30px;
}
/*to add and style the footer*/
footer{
	background-color: darkgreen;
	color:white;
	height: 50px;
	text-align:center;
}
.phone{
	text-decoration: none;
	color: white;
}
/*to change the color of my nav links and brand to white*/
.nav-link{
	color:white;
}
.navbar-brand{
	color:white;
}
span:hover .name{
	color:white;
}
.me{
	margin-top:15px;
}
/* change color to dark cyan */
li:hover a{
	color:darkgreen;
}
span:hover a{
	color:darkgreen;
}
/*form styles*/
.contact{
	background-color: darkgreen;
	margin-bottom: 20px;
}
form{
	padding-top: 10px;
	margin-bottom: 10px;
}
/* -------media queries-------- */
@media (min-width: 1065px) {




	@media (max-width: 965px){
		.me {
			margin-left: 50px;
		}
	}
}