
nav.navbar{
	margin-bottom:0;
	background-color: #48db30;
}
/* background image  */
.image {
	background: url("../images/moutain-valley.jpeg") no-repeat center;
	min-height: 60rem;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 70px;
}

/*to add and style the footer*/
footer{
	background-color: #48db30;
	color:white;
	height: 50px;
	text-align:center;
}

/*to change the color of my nav links and brand to white*/
.nav-link{
	color:white;
}
.navbar-brand{
	color:white;
}
span:hover .name{
	color:white;
}
.me{
	margin-top:15px;
}
li:hover a{
	color:#48db30;
}
span:hover a{
	color: #48db30;
}
/*form styles*/
.contact{
	background-color: #48db30;
	margin-bottom: 20px;
}
.about{
	padding-top: 5rem;
}
form{
	padding-top: 10px;
	margin-bottom: 10px;
}
